div.Play {
    width: 100vw;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;

    video {
        height: 100%;
        width: 100%;
    }
}

div#Controller {
    position: absolute;
    bottom: 0;
    background: transparent;
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, transparent, black);
}

div.Controller-Top {
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    div.Video-Current-Time {
        color: #ffffff;
        font-size: 20px;
        width: 5%;
        text-align: center;
    }

    div.Video-Seek-Bar {
        width: 90%;
        background: #FFFFFF;
        height: 10%;
        border-radius: 20px;

        div.Video-Seek-Current {
            width: 40%;
            background: #ff0068;
            border-radius: 20px;
            height: 100%;
        }

        div.Video-Seek-Current::after {
            height: 100%;
            border-radius: 50%;
            color: #ff0068;
        }
    }

    div.Video-Total-Time {
        color: #ffffff;
        font-size: 20px;
        text-align: center;
        width: 5%;
    }
}

div.Controller-Bottom {
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


    div.Settings {
        height: 30%;
        width: 10%;
        display: flex;
        justify-content: space-evenly;
        background-color: #a5a5a578;
        border: 2px solid #ffffff;
        border-radius: 10px;

        div {
            height: 100%;

            img {
                height: 100%;
            }
        }
    }

    div.Controls {
        height: 50%;
        width: 50%;
        display: flex;
        justify-content: space-between;

        div {
            height: 100%;

            img {
                height: 100%;
            }
        }

        div.Controls-Seek-Pause {
            display: none;
        }
    }

    div.Extra {
        height: 30%;
        width: 10%;
        display: flex;
        justify-content: space-evenly;
        background-color: #a5a5a578;
        border: 2px solid #ffffff;
        border-radius: 10px;

        div {
            height: 100%;

            img {
                height: 100%;
            }
        }
    }
}