:root {
    --seek-width: 0%;
    --seek-preview-width: 0%;
}

div.Player {
    width: 100vw;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
}

div.Play {
    width: 100%;
    height: 100%;
}

div.Overlay {
    height: 100%;
    width: 100%;
    background-color: #0c0c0ca8;
    position: absolute;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@keyframes spin {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

div#Controller {
    position: absolute;
    bottom: 0;
    background: transparent;
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, transparent, #40072c63, #200314, #090105);
}

div.Controller-Top {
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

div.Video-Current-Time {
    color: #ffffff;
    font-size: 19px;
    width: 6%;
    height: 100%;
    justify-content: center;
    display: flex;
    margin: 0% 1%;
    align-items: center;
}

div.Video-Seek-Bar {
    width: 85%;
    background: #FFFFFF;
    height: 10%;
    border-radius: 20px;
    display: flex;
    justify-content: left;
    position: relative;
}

div.Video-Seek-Bar:hover {
    height: 15%;
    cursor: pointer;

    div.Video-Seek-Current {
        height: 30px;
        width: 30px;
    }
}

div.Video-Seek-Preview-Line {
    width: var(--seek-preview-width);
    position: absolute;
    background: #e47aa4;
    border-radius: 20px;
    height: 100%;
}

div.Video-Seek-Line {
    width: var(--seek-width);
    background: #ff0068;
    position: absolute;
    border-radius: 20px;
    height: 100%;
}

div.Video-Seek-Current {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ff0068;
    transform: translate(-50%, -30%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: var(--seek-width);
}

div.Seek-Inner-Circle {
    height: 60%;
    width: 60%;
    border-radius: 50%;
    background: #ffffff;
}

div.Video-Total-Time {
    color: #ffffff;
    font-size: 19px;
    width: 7%;
    height: 100%;
    margin: 0% 2%;
    justify-content: center;
    display: flex;
    margin: 0% 2%;
    align-items: center;
}

div.Controller-Bottom {
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


    div.Controls {
        height: 50%;
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        div.Controls-Previous,
        div.Controls-Next {
            height: 60%;
            width: 6%;
        }

        div {
            height: 100%;
            cursor: pointer;

            img {
                height: 100%;
                width: 100%;
            }
        }

        div.Controls-Seek-Loading {
            animation: spin 2s linear infinite;
        }


    }

    div.Settings,
    div.Extra {
        height: 26%;
        width: 8%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #48484878;
        border: 2px solid #ff0068;
        border-radius: 10px;
        padding: 0.5%;

        div {
            height: 90%;
            width: 30%;
            cursor: pointer;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }
}


div.Details-Window {
    height: 30%;
    width: 40%;
    background-color: #0e0f0fe6;
    position: absolute;
    border: 2px solid #ff0068;
    border-radius: 20px;
    align-self: anchor-center;
}

div.Image-Preview-Cont {
    display: none;
    position: absolute;
    background: #000000;
    border: 2px solid #ff0068;
    border-radius: 20px;
    height: 160px;
    width: 240px;
    left: var(--seek-preview-width);
    transform: translate(-50%, -180px);
    justify-content: center;
    align-items: center;

    img {
        height: 90%;
        width: 90%;
    }
}