:root {
  --seek-width: 0%;
  --seek-preview-width: 0%;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  overflow: hidden;
  user-select: none;
}

div.Splash {
  height: 100vh;
  width: 100vw;
  background-color: #a90145;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  div.Splash-Element {
    height: 60%;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    img {
      width: 100%;
      object-fit: contain;
    }
  }
}

.Splash-Loader {
  width: 48px;
  height: 48px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  animation: skLinRotate 1s ease-in-out infinite alternate;
}

.Splash-Loader:after {
  content: "";
  position: absolute;
  inset: 5px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #ff0068;
}

@keyframes skLinRotate {

  95%,
  100% {
    transform: rotate(840deg)
  }
}

.rubik-bubbles-regular {
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 400;
  font-style: normal;
}

.nokora-thin {
  font-family: "Nokora", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.nokora-light {
  font-family: "Nokora", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.nokora-regular {
  font-family: "Nokora", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nokora-bold {
  font-family: "Nokora", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.nokora-black {
  font-family: "Nokora", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.oxygen-light {
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.oxygen-regular {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.oxygen-bold {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  font-style: normal;
}

div.Navbar {
  height: 10%;
  width: 100%;
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: space-between;
}

div.Nav-Left {
  height: 100%;
  width: 40%;
  margin: 0vh 7vw;
  display: flex;
  align-items: center;
  color: #ffffffba;
  justify-content: space-between;
}

div.Nav-Right {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0vh 7vw;
}

div.Nav-Item {
  cursor: pointer;
}

div.Nav-Blurred {
  color: #cfcfcfa3
}

div.Search {
  height: 40%;

  svg {
    height: 100%;
  }
}

div.Background-Image-Container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

img.Background-Image {
  min-height: 100%;
  width: 100%;
  object-fit: cover;
  transition: opacity 1s ease-in-out
}

div.Background-Image-Overlay {
  background: #0000003b;
  position: absolute;
  z-index: 2;
  height: 100vh;
  width: 100vw;
}

div.Hero-Interact {
  height: 40vh;
  width: 20vw;
  position: absolute;
  display: flex;
  margin: 13vh 13vh;
  justify-content: center;
  flex-direction: column;
}

div.Hero-Tags {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 1vh;
  height: 15%;
  position: relative;
  z-index: 2;
}

div.Hero-Image-Heading {
  height: 49%;
  width: 100%;
  text-align: center;
}

div.Hero-Details {
  display: flex;
  height: 13%;
  justify-content: space-between;
  color: white;
  z-index: 2;
  font-size: 21px;
}

div.Interact {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

div.Title-Image {
  height: 88%;
  position: relative;
  color: #ffffff;
  z-index: 2;
  width: 100%;
  display: flex;

  img {
    width: 100%;
  }
}

div.Select-Overlay {
  background-color: #0000004a;
}

div.Play-List {
  position: absolute;
  z-index: 2;
  bottom: 9vh;
  width: 94vw;
  left: 6vw;
  height: 34vh;
}

div.Tag {
  padding: 0vh 1.4vw;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px) brightness(1.2);
  height: 70%;
  color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-wrap-mode: nowrap;
}

div.Horizontal-Card {
  display: flex;
  overflow: auto;
  width: 94vw;
  scrollbar-width: none;
  position: absolute;
  scroll-behavior: smooth;

  .End-Card {
    margin-right: 4vw;
  }
}

div.Card {
  margin: 0.8vh;
  position: relative;
  height: 30vh;
  width: 10vw;
  border-radius: 18px;
  background: #00000096;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.5s ease-in-out;
  min-width: 150px;

  img {
    height: 100%;
    min-width: 100%;
    border-radius: 18px;
  }
}

div.Card-Heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}

div.Navigate {
  display: flex;
  width: 40%;
  justify-content: end;
  align-items: center;

  div {
    cursor: pointer;
  }
}

div.Preview-Card {
  margin-right: 1vh;
  min-width: 350px;

  img:first-child {
    display: none;
  }
}

div.Preview-Trailer {
  img:nth-child(2) {
    display: none;
  }

  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 18px;
  }

  div.Preview-Stop {
    cursor: pointer;
    position: absolute;
    right: 6%;
    top: 6%;
    height: 15%;

    svg {
      height: 100%;
      width: 100%;
    }
  }
}

div.More-Fetch {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0vw 2vw;
  height: 30vh;
  width: 10vw;
}

.Card-Loader {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 9px solid #ff0068;
  animation: spinner-bulqg1 0.8s infinite linear alternate,
    spinner-oaa3wk 1.6s infinite linear;
}

@keyframes spinner-bulqg1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }

  12.5% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  }

  62.5% {
    clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  }

  75% {
    clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
  }

  100% {
    clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
  }
}

@keyframes spinner-oaa3wk {
  0% {
    transform: scaleY(1) rotate(0deg);
  }

  49.99% {
    transform: scaleY(1) rotate(135deg);
  }

  50% {
    transform: scaleY(-1) rotate(0deg);
  }

  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}

div.Text-Heading {
  color: #FFFFFF;
  font-size: 1.7rem;
  margin: 20px 10px;
}

.Hero-Play-Button {
  cursor: pointer;
  position: relative;
  z-index: 2;
  min-height: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px) brightness(1.2);
  height: 6vh;
  border-radius: 14px;
  width: 16vw;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 4%;
  align-items: center;

  svg {
    height: 54%;
    justify-self: self-end;
  }

  div {
    color: #FFFFFF;
  }
}

div.Hero-Favourite {
  z-index: 2;
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  cursor: pointer;

  svg {
    height: 75%;
    width: 80%;
  }
}

div.Nav-Item {
  font-size: 18px;
}

div.Nav-Active {
  color: white;
}

div.Profile {
  height: 100%;
  padding: 0% 2%;

  img {
    height: 4vh;
    width: 2vw;
    border-radius: 50%;
  }
}

div.Arrow-Left {
  height: 6vh;

  svg {
    height: 100%;
    width: 100%;
  }
}

div.Arrow-Right {
  height: 6vh;

  svg {
    height: 100%;
    width: 100%;
    transform: rotate(180deg);
  }
}



div.Arrow-Left:active,
div.Arrow-Right:active {
  svg {
    scale: 0.8
  }
}

div.Extra-Overlay {
  background: #0000006b;


  div>svg {
    height: 5%;
    width: 5%;
    position: absolute;
    right: 3%;
    top: 5%;
    fill: white;
    cursor: pointer;
  }
}

div.Developer-Settings {
  position: absolute;
  z-index: 2;
  top: 25%;
  width: 50%;
  border-radius: 20px;
  left: 25%;
  height: 50%;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 70% 30%;
}

div.Hoster-Details {
  grid-column: 1;
  display: flex;
  width: 90%;
  height: 85%;
  background: rgb(255 255 255);
  border-radius: 20px;
  justify-self: center;
  align-self: center;
  flex-direction: column;

  div.Hoster-Image {
    height: 50%;

    img {
      height: 100%;
    }
  }

  div.Hoster-Code {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      width: 90%;
      height: 50%;
      border-radius: 10px;
      border: none;
      color: #ffffff;
      padding: 0.5rem;
      font-size: 20px;
      background: #969794;
    }
  }
}

div.Developer-Server {
  grid-column: 1;
}


div.Developer-Logs {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;
  grid-row: 1 / 3;
  grid-column: 2;

  table.Logs-Table {
    height: 90%;
    background: #000000;
    width: 92%;
    display: grid;
    grid-template-rows: 10% 90%;
    border-radius: 20px;

    thead {
      grid-row: 1;
      height: 100%;
      width: 100%;
      align-content: center;

      tr {
        display: grid;
        grid-template-columns: 30% 70%;
      }
    }

    tbody {
      grid-row: 2;
      overflow: scroll;
      display: block;
      height: 100%;
      width: 100%;
      scrollbar-width: thin;

      tr {
        display: grid;
        grid-template-columns: 30% 70%;
      }
    }

    td {
      padding: 15px;
      overflow-wrap: break-word;
    }
  }
}

span.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  background: linear-gradient(0deg, rgba(255, 61, 0, 0.2) 33%, #ff3d00 100%);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

span.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #263238;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

div.Over-Block {
  background-color: rgb(0 0 0 / 40%);
  backdrop-filter: blur(4px) brightness(1.2);
  border-radius: 14px;
}

div.Play-Item-List {
  position: absolute;
  z-index: 3;
  width: 16vw;
  margin: 0.5vw 0vw 0vw 2vw;
  height: 35vh;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: white transparent;

  div.Play-Item-Heading {
    padding: 10px;
    color: white;
  }
}

div.Play-Item {
  font-size: 12px;
  color: #cac4c4;
  padding: 2% 10%;
}




div.Player {
  width: 100vw;
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
}

div.Play {
  width: 100%;
  height: 100%;
}

div.Overlay {
  height: 100%;
  width: 100%;
  background-color: #0c0c0ca8;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  height: 100%;
  width: 100%;
  /* object-fit: cover; */
}

@keyframes spin {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

div#Controller {
  user-select: none;
  position: absolute;
  bottom: 0;
  background: transparent;
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, transparent, #40072c63, #200314, #090105);
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 1;
}

div.Controller-Top {
  height: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

div.Video-Seek-Bar {
  width: 85%;
  background: #FFFFFF;
  height: 10%;
  border-radius: 20px;
  display: flex;
  justify-content: left;
  position: relative;
}



div.Video-Seek-Preview-Line {
  width: var(--seek-preview-width);
  position: absolute;
  background: #e47aa4;
  border-radius: 20px;
  height: 100%;
}

div.Video-Seek-Line {
  width: var(--seek-width);
  background: #ff0068;
  position: absolute;
  border-radius: 20px;
  height: 100%;
}

div.Video-Seek-Current {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ff0068;
  transform: translate(-50%, -30%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: var(--seek-width);
}

div.Seek-Inner-Circle {
  height: 60%;
  width: 60%;
  border-radius: 50%;
  background: #ffffff;
}

div.Video-Time {
  color: #ffffff;
  font-size: 19px;
  width: 7%;
  height: 100%;
  margin: 0% 2%;
  justify-content: center;
  display: flex;
  margin: 0% 2%;
  align-items: center;
}

div.Controller-Bottom {
  height: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;


  div.Controls {
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div.Controls-Previous,
    div.Controls-Next {
      height: 60%;
      width: 6%;
    }

    div {
      height: 100%;
      cursor: pointer;

      img {
        height: 100%;
        width: 100%;
      }
    }

    div.Controls-Seek-Loading {
      animation: spin 2s linear infinite;
    }


  }

  div.Settings-Panel,
  div.Extra {
    height: 26%;
    width: 8%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #48484878;
    border: 2px solid #ff0068;
    border-radius: 10px;
    padding: 0.5%;

    div {
      height: 90%;
      width: 30%;
      cursor: pointer;

      img {
        height: 100%;
        width: 100%;
      }
    }

    div.Settings-Panel-Greyed {
      cursor: not-allowed;
    }
  }
}


div.Window {
  height: 30%;
  width: 40%;
  background-color: #0e0f0fe6;
  position: absolute;
  border: 2px solid #ff0068;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 5% 80% 5% 8% 2%;

  div.Window-Close {
    svg {
      height: 100%;
      width: 100%;
    }
  }
}

div.Image-Preview-Cont {
  display: none;
  position: absolute;
  background: #000000;
  border: 2px solid #ff0068;
  border-radius: 20px;
  height: 160px;
  width: 240px;
  left: var(--seek-preview-width);
  transform: translate(-50%, -180px);
  justify-content: center;
  align-items: center;

  div {
    height: 90%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
  }
}



@media (hover: hover) {
  div.Hero-Play-Button:Hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  div.Arrow-Left:hover,
  div.Arrow-Right:hover {
    svg {
      fill: #ff0068;
      stroke: #ff0068;
    }
  }


  div.Play-Item:Hover {
    background-color: #0000006e;
    cursor: pointer;
  }


  div.Video-Seek-Bar:hover {
    height: 15%;
    cursor: pointer;

    div.Video-Seek-Current {
      height: 30px;
      width: 30px;
    }
  }
}